<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/skel.min.js"></script>
    <script src="../../static/js/skel-layers.min.js"></script>
    <script src="../../static/js/init.js"></script>
    <!-- <noscript> -->
      <link rel="stylesheet" href="../../static/css/skel.css" />
      <link rel="stylesheet" href="../../static/css/style.css" />
      <link rel="stylesheet" href="../../static/css/style-xlarge.css" />
      <link rel="stylesheet" href="../../static/css/sidebar.css" />
    <!-- </noscript> -->
  </head>
<body id="top">
  <!-- Header -->
    <header id="header" class="skel-layers-fixed">
      <h1><a href="{{ url_for('.logout') }}">BackPack</a></h1>
      <nav id="nav">
        <ul>
          <li>{% filter upper %} {{ username }} {% endfilter %}</li>
          <li></li>
          <li></li>
          <li><a href="{{ url_for('.logout') }}" class="button special">Logout</a></li>
        </ul>
      </nav>
    </header>
  <!-- Sidebar -->
  <div id='cssmenu'>
    <ul>
      <li><a href='{{ url_for('.user', username=username) }}'><span>Activity Log</span></a></li>
      <li class='active'><a href=''><span>Backups</span></a></li>
      <li class='last'><a href=''><span>Contact</span></a></li>
    </ul>
  </div>
  
  <section id="one" class="wrapper style1">
    <header class="major">
      <h2>Backups</h2>
      <ul>
      {% for file in backups %}
        <li style="list-style-type:none;padding:0;">
          {{ file['title'] }}
          {% if file.get('webContentLink') %}[
            <a href='{{ file['webContentLink'] }}'>Download</a> ]
          {% elif file.get('mimeType') == 'application/vnd.google-apps.folder' %}[
            <a href="{{ url_for('.download',folder=file['id'], parent=file['title']) }}">Download</a> ]
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </header>
  </section>
</body>
</html>